@keyframes bg_clr {
    0%{background-color: #0000FF;}
    20%{background-color: #00ffff;}
    40%{background-color: #00ff00;}
    60%{background-color: #ff0;}
    80%{background: #f00;}
    100%{background-color: #00f;}
}

body{
    animation: bg_clr;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

p {
    font-family: 'Calibri';
    font-size: 40px;
    color: white;
    text-align: center;
}

button{
    position: absolute;
    margin-left: 46.5%;
}

video{
    visibility: hidden;
    position: absolute;
    margin-left: 25%;
}

img{
    visibility: hidden;
}